<meta charset=utf-8>
<script src="./build/libre2.js"></script>
<script type="module" src="./re2.js"></script>
<script type="module">
  import {RE2} from './re2.js';
  window.RE2 = RE2;
</script>

<p>RE2 is available in Web Inspector on this page.
